body {
    background-color: #d3d3d3;
}

h1 {
    color: #ff0000;
    background-color: #000000;
    text-align: center;
}

.Links {
    text-align: center;
}

.Camel img{
    border: solid;
    border-color: #000000;
    border-radius: 25%;
}

.Camel {
    margin-left: 1%;
}

.Camel img:hover {
    transform: scale(1.1);
}

a:link {
    color: black;
}

a:visited {
    color: black;
}